*{
  font-family: Archivo, sans-serif;
  color: #101828;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app-container {
  display: flex;
  height: 100vh;
}
.content-area {
  margin-top: 10px; /* Cách header 100px */
}

.slidebar {
  width: 180px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.header {
  background-color: #ffffff;
  height: 60px;
  display: flex;
  align-items: center; /* Căn giữa nội dung theo chiều dọc */
}

