.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
}

.btn-custom{
    width: 200px;
    height: 35px;
    border: 1px solid gray;
    border-radius: 5px;
    color: #fff;
}