/* Modal styles */
.modal_hd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Nền mờ */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


/* Hiển thị modal khi có class "show" */
.modal_hd.show {
    display: flex;
}

/* Modal dialog */
.detail_hd_modal-dialog {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 10%;
    padding: 20px;
    animation: slide-down 0.3s ease;
    overflow-y: auto;
    max-height: 90%; /* Đảm bảo modal không vượt quá chiều cao màn hình */
    display: flex; /* Đảm bảo các phần tử bên trong căn giữa */
    flex-direction: column;
    justify-content: center; /* Căn giữa các phần tử bên trong modal */
}


/* Modal header */
.modal-header-hd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

/* Title and close button */
.modal-title-hd {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.detail_hd_close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: red;
}

.detail_hd_close-button:hover {
    color: white;
    background-color: red;
}

/* Modal body */
.modal-body-hd {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Form layout */
.form-row-hd {
    display: flex;
    gap: 20px;
}

.form-column-hd {
    flex: 1;
    min-width: 280px;
}

.form-group-hd {
    margin-bottom: 15px;
}

/* Labels */
.form-group-hd label {
    font-weight: bold;
    display: block;
    color: #555;
}

/* Input fields */
input[type="text"],
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

/* Buttons */
.submit-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #218838;
}

/* Service and Utility container styles */
.detail_hd_service-container,
.detail_hd_utility-container {
    margin-top: 20px;
}

/* Animation */
@keyframes slide-down {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
